* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #66c2ff, #2980b9);
}

.tickets {
    width: 550px;
    height: fit-content;
    border-radius: 8px;
    padding: 16px;
    background: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.ticket-selector {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.seats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    font-size: 14px;
    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -14px;
    transform: translate(0, -50%);
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255);
    outline: 1px solid rgb(120, 120, 120);
    border-radius: 1px;
}

.item:nth-child(2)::before {
    background: rgb(180, 180, 180);
    outline: none;
}

.item:nth-child(3)::before {
    background: #47a3ff;
    outline: none;
}

.all-seats {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
    margin: 60px 0px;
    margin-top: 20px;
    position: relative;
}

.seat {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 1px;
    outline: 1px solid rgb(180, 180, 180);
    cursor: pointer;
}

.all-seats input:checked+label {
    background: #47a3ff;
    outline: none;
}

.seat.booked {
    background: rgb(180, 180, 180);
    outline: none;
}

input {
    display: none;
}
   